html {
	font-size: 10px;
}

body {
	background-color: #f6f6f6;
	color: #333;
	font-family: 'RobotoDraft';
	margin: 0 auto;
	padding: 5% 15%;
	text-align: center;
}

.header {
	padding: 5rem 0 0;
}

	.menu {
		color: #999;
		display: inline-block;
		font-size: 1.2rem;
		font-weight: 400;
		margin: 1rem 3rem;
		text-decoration: none;
	}

	.menu:hover {
		color: #000;
		transition: all .3s;
	}

.tagline {
	font-size: 4.9rem;
	font-weight: 100;
	padding: 5rem 0;
}

.text {
	font-size: 3rem;
	font-weight: 300;
}

.title {
	font-size: 4.9rem;
	font-weight: 700;
	padding: 20rem 0 5rem;
}

.image {
	margin: 10rem 0;
	max-width: 90rem;
}

.screenshot {
	width: 100%;
}

.link {
	color: #999;
	font-weight: 100;
	text-decoration: none;
	transition: all .3s;
}

	.link:hover {
		color: #000;
	}

/*acerca*/
.desc {
	font-size: 4.9rem;
	font-weight: 300;
}

/*navigation stuff*/

article {
	padding: 2rem;
	transition: background-color .5s ease-in-out;
}

article:hover {
	background-color: #fff;
}

#mobius-castle article {
	padding: 5rem;
}

#mobius-castle article:hover {
	background-color: #ddd;
}

@media (max-width: 1024px) {
	html {
		font-size: 8px;
	}
}

@media (max-width: 640px) {
	html {
		font-size: 6px;
	}

	#mobius-castle {
		display: none;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 3px;
	}
}