body {
	background-color: #f6f6f6;
	font-family: Roboto;
	padding: 5% 15%;
	margin: 0 auto;
	text-align: center;
	color: #333;
}

.header {
	padding: 50px 0 0;
}

	.menu {
		text-decoration: none;
		color: #999;
		font-size: 12px;
		font-weight: 400;
		margin: 0 30px;
	}

	.menu:hover {
		color: #000;
		transition: all .3s;
	}

.tagline {
	font-size: 49px;
	font-weight: 100;
	padding: 50px 0;
}

.text {
	font-size: 49px;
	font-weight: 300;
}

.title {
	font-size: 49px;
	font-weight: 700;
	padding: 200px 0 50px;
}

.image {
	margin: 100px 0;
	max-width: 900px;
}

.link {
	color: #999;
	transition: all .3s;
	font-weight: 100;
	text-decoration: none;
}

	.link:hover {
		color: #000;
	}

/*acerca*/
.desc {
	font-size: 49px;
	font-weight: 300;
}